* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 25px;
}
#title {
    font-size: 85px;
}
#calc-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    height: 620px;
    background-color: aqua;
    padding: 15px;
}
#display {
    height: 165px;
    border: black 2px solid;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 80px;
    padding: 5px;
}
#button-container {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}